@import "tailwindcss";

body {
    margin: 0;
}

@layer components {
    .dock-item {
        @apply relative w-16 h-16 bg-gray-100 rounded-lg border border-gray-200 transition-all
               hover:border-0 hover:shadow-sm
               active:border active:border-blue-200
    }
}
